/****** Box model fix & reset ******/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0px;
  padding: 0px;
}

/****** Page styles ******/

/* Global styles */
body {
  background-color: #F5E9E2;
  color: #0B0014;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 30px;
}

#heading, h1 {
  text-align: center;
}

p {
  line-height: 1.5rem;
}

section, footer {
  padding: 25px;
  margin: 0 auto;
}

@media (min-width: 769px) {
  section {
    padding-left: 100px;
    padding-right: 100px;
  }
}

ul {
  list-style: none;
  line-height: 2rem;
}

ol {
  line-height: 1.5rem;
}

#heading, footer {
  background-color: #C1292E;
  color: #D6CBC5;
}
#heading {
  color: #FFF8F7;
  box-shadow: 0 2px 5px rgba(0,0,0,.26);
}

/* CSS Grid wrapper */
.wrapper  {
  display: grid;
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  grid-gap: 3rem;
}

@media (min-width: 769px) {
  .wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

/* Input area */
textarea {
  width: 100%;
}

button {
  font-size: 16px;
  background: white;
  border: none;
}

/* Stats display */

/* Reveal class for results/fun-stats */
#results, #fun-stats {
  background-color: rebeccapurple;
  color: white;
}

.results-container {
  margin: 0 auto;
  width: 99%;
  border-radius: 5px;
}

.results {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: visibility 0s, opacity 0.5s ease, height 1s ease;
}

.revealed {
  visibility: visible;
  height: auto;
  opacity: 1;
  padding: 25px; /* re-added to elements */
}

@media (min-width: 769px) {
  .revealed { /* padding re-added to elements when revealed */
    padding-left: 100px;
    padding-right: 100px;
  }
}

.main-stats, {
  text-align: center;
  font-family: "Source Sans Pro", 'Roboto', serif;
  font-size: 18px;
}

.main-stat {
  display: inline-block;
  font-size: 24px;
}

.main-stat, .stat {
  font-weight: bold;
}

#fun-stats {
  color: #DFDFDF;
}

#process h1 {
  margin: 0;
  padding-top: 2rem;
  padding-bottom: 2rem;
  /*border-top: black solid 1px;*/
}
